<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="fairino5_v6_robot_ros2_control" params="name initial_positions_file ros2_control_header:=world control_system:=moveit">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>
        <!-- Xacro arg for control system (Defualted to Rviz/Moveit-->
        <xacro:property name="controllers_yaml_name" value="${'ros2_controllers.yaml' if 'rail' not in ros2_control_header else 'fairino5_' + ros2_control_header + '_ros2_controllers.yaml'}"/>     
        <ros2_control name="${name}" type="system">
            <hardware>
              <xacro:if value="${control_system == 'moveit'}">
                  <plugin>mock_components/GenericSystem</plugin>
              </xacro:if>
              <xacro:if value="${control_system == 'hardware'}">
                  <plugin>fairino_hardware/FairinoHardwareInterface</plugin>
              </xacro:if>
              <xacro:if value="${control_system == 'gazebo'}">
                  <plugin>gz_ros2_control/GazeboSimSystem</plugin>
              </xacro:if>
          </hardware>

          <joint name="j1">
              <command_interface name="position"/>
              <state_interface name="position">
                <param name="initial_value">${initial_positions['j1']}</param>
              </state_interface>
          </joint>
          <joint name="j2">
              <command_interface name="position"/>
              <state_interface name="position">
                <param name="initial_value">${initial_positions['j2']}</param>
              </state_interface>
          </joint>
          <joint name="j3">
              <command_interface name="position"/>
              <state_interface name="position">
                <param name="initial_value">${initial_positions['j3']}</param>
              </state_interface>
          </joint>
          <joint name="j4">
              <command_interface name="position"/>
              <state_interface name="position">
                <param name="initial_value">${initial_positions['j4']}</param>
              </state_interface>
          </joint>
          <joint name="j5">
              <command_interface name="position"/>
              <state_interface name="position">
                <param name="initial_value">${initial_positions['j5']}</param>
              </state_interface>
          </joint>
          <joint name="j6">
              <command_interface name="position"/>
              <state_interface name="position">
                <param name="initial_value">${initial_positions['j6']}</param>
              </state_interface>
          </joint>
          <xacro:if value="${'rail' in ros2_control_header}">
            <joint name="${ros2_control_header}_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
          </xacro:if>
            <!-- If mount is not a rail (using fixed joints) then it does not need to be added to contrl xacro -->
        </ros2_control>
        <xacro:if value="${control_system == 'gazebo'}">
            <gazebo>
              <plugin filename="libign_ros2_control-system.so"
              name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                  <parameters>$(find fairino5_v6_moveit2_config)/config/ros2_controllers.yaml</parameters>
              </plugin>
          </gazebo>
        </xacro:if>
    </xacro:macro>
</robot>
