<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">


    <xacro:macro name="load_robot" params="
        robot_model
        robot_mount
        control_system">

        <!-- <xacro:arg name="robot_model" default="fairino5" />
        <xacro:arg name="robot_mount" default="world" />
        <xacro:arg name="control_system" default="moveit" /> -->
        
        <xacro:include filename="$(find ${robot_model}_v6_moveit2_config)/config/${robot_model}_v6_robot.urdf.xacro" />
        <!-- <xacro:load_robot
            robot_model="$(arg robot_model)"
            robot_mount="$(arg robot_mount)"
            control_system="$(arg control_system)">
        </xacro:load_robot> -->

        <xacro:if value="${robot_mount == 'world'}">
            <joint name="mount_to_world" type="fixed">
                <parent link="world"/>
                <child link="base_link"/>
            </joint>
        </xacro:if>
    </xacro:macro>
</robot>