<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fairino3_v6_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Custom args -->
    <xacro:arg name="robot_model" default="fairino3"/>

    <!-- Import fairino3_v6_robot urdf file -->
    <xacro:include filename="$(find fairino_description)/urdf/$(arg robot_model)_v6.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="$(arg robot_model)_v6_robot.ros2_control.xacro" />

    <!-- <xacro:include filename=""/> -->
    

    <xacro:fairino3_v6_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

    <xacro:arg name="gripper" default="None"/>


<!--     <xacro:if value="$(arg gripper == 'pgc140')">

    </xacro:if> -->





</robot>
