<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="sync_table2" params="parent">
    
    <joint name="${parent}_to_table" type="fixed">
      <parent link="${parent}"/>
      <child link="sync_table2_base"/>
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
    </joint>

    <link name="sync_table2_base">
      <visual>
        <geometry>
          <mesh filename="package://rail_description/config/modular_table/MTDv2.stl" scale="0.1 0.1 0.1"/>
        </geometry>
        <material name="black"><color rgba="0 0 0 1.0"/></material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://rail_description/config/modular_table/MTDv2_Collision.stl" scale="0.1 0.1 0.1"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0"
                              iyy="0.0001" iyz="0"
                                            izz="0.0001"/>
      </inertial>
    </link>

    <!-- TABLE TO MILL -->
    <joint name="table_to_mill_joint" type="fixed">
      <parent link="sync_table2_base"/>
      <child link="roland_mill_base"/>
      <origin xyz="1 0.075 0.705" rpy="0 0 -1.5707"/>
    </joint>
    
    <link name="roland_mill_base">
      <visual>
        <geometry>
          <mesh filename="package://rail_description/config/sync_table/RolandMill.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey"><color rgba="0.7 0.7 0.7 1.0"/></material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://rail_description/config/sync_table/RolandMill.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0"
                              iyy="0.0001" iyz="0"
                                            izz="0.0001"/>
      </inertial>
    </link>

    <!-- MILL TO MILL DOOR -->
    <joint name="sync_table2_joint" type="prismatic">
      <parent link="roland_mill_base"/>
      <child link="roland_mill_door"/>
      <origin xyz="0.4175 -0.35 0.73" rpy="5.93403 0 0"/>
      <axis xyz="0 0 1"/>
      <limit lower="0" upper="0.4" effort="100.0" velocity="0.5"/>
      <dynamics damping="0.0" friction="0.0"/>
    </joint>

    <link name="roland_mill_door">
      <visual>
        <geometry>
          <mesh filename="package://rail_description/config/sync_table/RolandMillDoor.stl" scale="0.00115 0.001 0.0009"/>
        </geometry>
        <material name="transp_grey"><color rgba="0.7 0.7 0.7 0.7"/></material>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://rail_description/config/sync_table/RolandMillDoor.stl" scale="0.00115 0.001 0.0009"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0"
                              iyy="0.0001" iyz="0"
                                            izz="0.0001"/>
      </inertial>
    </link>

    <!-- MILL TO TRY RACK -->
    <joint name="sync_table2_slider_joint" type="fixed">
      <parent link="roland_mill_base"/>
      <child link="roland_slider"/>
      <origin xyz="0.75 -0.025 0" rpy="1.57 0 4.71"/>
      <axis xyz="0 0 1"/>
      <limit lower="0" upper="0.5" effort="1000.0" velocity="0.5"/>
      <dynamics damping="0.0" friction="0.0"/>
    </joint>

    <link name="roland_slider">
      <visual>
        <geometry>
          <mesh filename="package://rail_description/config/sync_table/SyncTrayChassis.stl" scale="0.1 0.1 0.1"/>
        </geometry>
        <material name="grey"><color rgba="0.7 0.7 0.7 1"/></material>
      </visual>
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0"
                              iyy="0.0001" iyz="0"
                                            izz="0.0001"/>
      </inertial>
    </link>

    <!-- TRAY HOLDER JOINTS -->
    <joint name="bottom_drawer_joint" type="prismatic">
      <parent link="roland_slider"/>
      <child link="bottom_drawer"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.5" effort="1000.0" velocity="0.5"/>
      <dynamics damping="0.0" friction="0.0"/>
    </joint>

    <link name="bottom_drawer">
      <visual>
        <geometry>
          <mesh filename="package://rail_description/config/sync_table/SyncBottomDrawer.stl" scale="0.1 0.1 0.1"/>
        </geometry>
        <material name="grey"><color rgba="0.7 0.7 0.7 1"/></material>
      </visual>
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0" rpy="0 0 3.14"/>
        <inertia ixx="0.0001" ixy="0" ixz="0"
                              iyy="0.0001" iyz="0"
                                            izz="0.0001"/>
      </inertial>
    </link>    

    <joint name="top_drawer_joint" type="prismatic">
      <parent link="roland_slider"/>
      <child link="top_drawer"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="1 0 0"/>
      <limit lower="0" upper="0.5" effort="1000.0" velocity="0.5"/>
      <dynamics damping="0.0" friction="0.0"/>
    </joint>

    <link name="top_drawer">
      <visual>
        <geometry>
          <mesh filename="package://rail_description/config/sync_table/SyncTopDrawer.stl" scale="0.1 0.1 0.1"/>
        </geometry>
        <material name="grey"><color rgba="0.7 0.7 0.7 1"/></material>
      </visual>
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0"
                              iyy="0.0001" iyz="0"
                                            izz="0.0001"/>
      </inertial>
    </link>    



    <link name="sync_table2_carriage"/>

    <joint name="sync_table2_mount_joint" type="fixed">
      <parent link="sync_table2_base"/>
      <child link="sync_table2_carriage"/>
      <origin xyz="0 -0.2 0.7" rpy="0 0 -1.57"/>
    </joint>

  </xacro:macro>
</robot>