<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="test_rail" params="parent length:=1.0 width:=1.0">
    
    <xacro:property name="rail_description" value="$(find fairino_gazebo_config)/config/rail_defaults.yaml"/>
    <xacro:property name="rail_rail_config" value="${xacro.load_yaml(rail_description)}"/>

    <joint name="${parent}_to_test_rail" type="fixed">
      <parent link="${parent}"/>
      <child link="test_rail_base"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="test_rail_base">
      <visual>
        <geometry>
          <box size="${rail_rail_config['rail_length']} ${rail_rail_config['rail_width']} 0.1"/>
        </geometry>
        <material name="grey"><color rgba="0.5 0.5 0.5 1.0"/></material>
      </visual>
      <!-- <collision>
        <geometry>
          <box size="2.0 0.2 0.1"/>
        </geometry>
      </collision> -->
      <inertial>
        <mass value="0.001"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0"
                              iyy="0.0001" iyz="0"
                                            izz="0.0001"/>
      </inertial>
      
    </link>

    <link name="test_rail_carriage">
      <visual>
        <geometry>
          <box size="0.3 0.3 0.05"/>
        </geometry>
        <material name="blue"><color rgba="0.0 0.0 0.8 1.0"/></material>
      </visual>
      <!-- <collision>
        <geometry>
          <box size="0.3 ${width} 0.05"/>
        </geometry>
      </collision> -->
    </link>

    <joint name="test_rail_joint" type="prismatic">
      <parent link="test_rail_base"/>
      <child link="test_rail_carriage"/>
      <axis xyz="1 0 0"/>
      <limit lower="${-0.5 * rail_rail_config['rail_length']}" upper="${0.5 * rail_rail_config['rail_length']}" effort="1000.0" velocity="0.5"/>
      <dynamics damping="10.0" friction="1.0"/>
    </joint>

  </xacro:macro>
</robot>