<?xml version="1.0"?>
<robot name="test_rail" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="test_rail_base"/>
  <joint name="test_rail_joint" type="prismatic">
    <origin xyz="0 0 0.025" rpy="0 0 0"/>
    <parent link="test_rail_base"/>
    <child link="test_rail_body"/>
    <axis xyz="1 0 0"/>
    <limit lower="0.0" upper="1.5" effort="100.0" velocity="0.5"/>
  </joint>


  <link name="test_rail_body">
    <visual>
      <geometry><box size="0.2 0.2 0.05"/></geometry>
    </visual>
  </link>
  <joint name="test_rail_body_joint" type="fixed">
    <origin xyz="0 0 0.025" rpy="0 0 0"/>
    <parent link="test_rail_body"/>
    <child link="test_rail"/>
  </joint>
  <link name="test_rail"/>

</robot>